@import "base/palette";
@import "base/typography";

.content {
    padding: 1em;
}

.css-styles, .i18n-area, .data-area {
    padding: 1em;

    h2 {
        font-size: 1.5em;
        background-color: $light-gray;
        display: inline-block;
    }

    .inverted {
        background: $black;
        color: $light-gray;
    }

    #yes-msg, #js-msg {
        font-style: italic;
    }
}
