@import "base/palette";

.foo {
    background-color: $dark-yellow;

    .bar {
        color: #f00 !important;
        font-size: 24px;
    }
}

.moo {
    background-color: #ddffdd;
    height: 541px;
}
